node_modules/
.kryptonite
phantomjs.exe
.kryptonite_test
.test_*
.idea/
.sublime-project
*~
[._]*.un~

## Don't commit settings past default ones
.settings

## Don't commit any encryption/settings files
.fbmessenger*
test.*
